.github/          export-ignore
.org              export-ignore
.gitignore        export-ignore
.editorconfig     export-ignore
.env              export-ignore
.DS_Store         export-ignore
.gitattributes    export-ignore
tests/            export-ignore
*.md              export-ignore
assets/           export-ignore
